{% for user in users %}
<tr>
    <td>
        <div class="flex items-center gap-3">
            <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                    {% match user.avatar_url %}
                    {% when Some with (avatar_url) %}
                    <img src="{{ avatar_url }}" alt="Avatar" />
                    {% when None %}
                    <img src="/public/pictures/default_avatar.jpg" alt="Avatar" />
                    {% endmatch %}
                </div>
            </div>
            <div>
                <div class="font-bold">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="text-sm opacity-70">{{ user.username }}</div>
            </div>
        </div>
    </td>
    <td>{{ user.role }}</td>
    <td>{{ user.gender }}</td>
    <td>{{ user.age }}</td>
    <td><a class="link" href="mailto:{{ user.email }}">{{ user.email }}</a></td>
    <td><a class="link" href="tel:{{ user.phone }}">{{ user.phone }}</a></td>
    <td>{{ user.tax_rate }}</td>
    <th class="flex space-x-2">
        <a href="/admin/user/{{ user.id }}" class="btn btn-primary">Manage</a>
        <a hx-delete="/admin/user/{{ user.id }}"
           hx-target="closest tr"
           hx-swap="delete"
           hx-confirm="Are you sure you want to delete this user?"
           class="btn btn-error">
            Delete
        </a>
    </th>
</tr>
{% endfor %}