{% extends "views/base/main.html" %}
{% import "partials/title.html" as title %}
{% import "partials/event_draft_badge.html" as event_draft_badge %}

{% block title %}
    {% call title::title("Create Event") %}
{% endblock %}

{% block main_content %}
    <div class="py-4">
        <div class="container mx-auto flex flex-col gap-6">
            <div class="flex justify-center">
                <div class="flex w-full max-w-[500px] flex-col gap-4">
                    <h1>Create New Event</h1>
                    <form
                        hx-post="/events"
                        hx-target-error="#global-toast"
                        hx-on:htmx:after-request="showGlobalToast(event)"
                        hx-include="[name='venue_id']"
                        class="flex flex-col gap-4"
                    >
                        <div class="flex flex-col gap-2">
                            <div class="grid grid-cols-[auto_max-content] gap-x-4">
                                <label class="form-control w-full">
                                    <div class="label">
                                        <span class="label-text">Event Name</span>
                                    </div>
                                    <input
                                        id="event-name"
                                        name="event_name"
                                        type="text"
                                        placeholder="JazzFestBrno"
                                        value=""
                                        class="input input-bordered w-full"
                                    />
                                </label>
                                <div class="form-control justify-end">
                                    <label class="label cursor-pointer gap-2">
                                        <span class="label-text">Create as Draft</span>
                                        <input
                                            id="create-as-draft"
                                            name="create_as_draft"
                                            type="checkbox"
                                            class="checkbox"
                                        />
                                    </label>
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-x-4">
                                <label class="form-control w-full">
                                    <div class="label">
                                        <span class="label-text">Beginning Date</span>
                                    </div>
                                    <input
                                        id="date-start"
                                        name="date_start"
                                        class="input input-bordered"
                                        type="date"
                                        value=""
                                    />
                                </label>
                                <label class="form-control w-full">
                                    <div class="label">
                                        <span class="label-text">End date</span>
                                    </div>
                                    <input
                                        id="date-end"
                                        name="date_end"
                                        class="input input-bordered"
                                        type="date"
                                        value=""
                                    />
                                </label>
                            </div>
                            <label class="form-control w-full">
                                <div class="label">
                                    <span class="label-text">Event Hero Image URL</span>
                                </div>
                                <input
                                    id="hero-img-url"
                                    name="hero_img_url"
                                    type="text"
                                    placeholder="https://images.cdn.com/image.jpg"
                                    value=""
                                    class="input input-bordered w-full"
                                />
                            </label>
                            <div class="flex items-end justify-start gap-1">
                                <label class="form-control w-full">
                                    <div class="label">
                                        <span class="label-text">Venue</span>
                                    </div>
                                    <select id="venue-id" name="venue_id" class="select select-bordered w-full">
                                        <option value="" disabled selected>Select Venue</option>
                                        {% for venue in venues %}
                                            <option value="{{ venue.id }}">{{ venue.name }} - {{ venue.town }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <a href="/venues/create" target="_blank" class="btn">
                                    <i data-lucide="plus" class="h-4 w-4"></i>
                                </a>
                            </div>
                            <label class="form-control w-full">
                                <div class="label">
                                    <span class="label-text">Description</span>
                                </div>
                                <textarea
                                    id="description"
                                    name="description"
                                    class="textarea textarea-bordered"
                                    placeholder="Detailed information about the event."
                                    rows="6"
                                ></textarea>
                            </label>
                        </div>
                        <div class="flex flex-col gap-4">
                            <button class="btn btn-primary">Create Event</button>
                            <a href="/manage/events" class="btn">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
