{% extends "views/base/main.html" %}
{% import "partials/title.html" as title %}
{% import "partials/rating_stars.html" as rating_stars %}

{% block title %}
{% call title::title("Employee") %}
{% endblock %}

{% block main_content %}
<div>
    <div class="flex justify-center">
        <div class="container flex max-w-[800px] flex-col gap-3 p-4 pb-16">
            <div class="grid grid-cols-[68px_1fr] gap-4">
                {% match employee.avatar_url %}
                {% when Some with (avatar_url) %}
                <img
                    alt="Avatar"
                    class="max-h-[300px] w-full rounded-2xl object-cover object-left-top"
                    src="{{ avatar_url }}"
                />
                {% when None %}
                <img
                    alt="Avatar"
                    class="max-h-[300px] w-full rounded-2xl object-cover object-left-top"
                    src="https://homework2storage.blob.core.windows.net/blob/public/pictures/default_avatar.jpg"
                />
                {% endmatch %}

                <div class="flex flex-col gap-1">
                    <span class="text-3xl font-semibold"> {{ employee.first_name }} {{ employee.last_name }} </span>
                    <div class="text-xl text-base-content/70">{{ employee.username }}</div>
                </div>
            </div>
            <div class="divider my-0 before:h-[1px] after:h-[1px]"></div>
            <h2 class="text-3xl font-bold">Details</h2>
            <div class="grid grid-cols-[max-content_max-content] gap-x-8">
                <div class="font-semibold">Gender</div>
                <div class="text-end">{{ employee.gender }}</div>
                <div class="font-semibold">Age</div>
                <div class="text-end">{{ employee.age }}</div>
                <div class="font-semibold">Email</div>
                <div class="text-end">
                    <a class="link" href="mailto:{{ employee.email }}">{{ employee.email }}</a>
                </div>
                <div class="font-semibold">Phone</div>
                <div class="text-end"><a class="link" href="tel:{{ employee.phone }}">{{ employee.phone }}</a></div>
                <div class="font-semibold">Tax Rate</div>
                <div class="text-end">{{ employee.tax_rate }}</div>
            </div>
            <h2 class="text-3xl font-bold">Past Jobs</h2>
            {% if !past_jobs.is_empty() %}
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Job Name</th>
                        <th>Date Span</th>
                        <th>Location</th>
                        <th>Hours Worked</th>
                        <th>Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in past_jobs %}
                    <tr>
                        <td>
                            <a class="link" href="/events/{{ job.event.id }}" target="_blank">
                                {{ job.event.name }}
                            </a>
                        </td>
                        <td>{{ job.job_name }}</td>
                        <td>{{ job.date_start }} to {{ job.date_end }}</td>
                        <td>{{ job.venue.name }}</td>
                        <td>{{ job.hours_worked }}</td>
                        <td>{% call rating_stars::rating_stars(job.rating) %}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div>
                <span class="text-lg text-base-content/50">The employee has not yet worked in any job.</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
