{% extends "views/base/main.html" %}
{% import "partials/title.html" as title %}

{% block title %}
    {% call title::title("Manage Events") %}
{% endblock %}

{% block main_content %}
    <div class="flex flex-col gap-2 p-4">
        <a href="/create/events" class="btn btn-secondary flex w-max self-end">
            <i data-lucide="plus" class="h-4 w-4"></i>
            <span>Create New Event</span>
        </a>
        {% if !events.is_empty() %}
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Date From</th>
                            <th>Date To</th>
                            <th>Venue</th>
                            <th>Owner</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr id="event-table-record-{{ event.id }}">
                                <td>{{ event.name }}</td>
                                <td>{{ event.date_start }}</td>
                                <td>{{ event.date_end }}</td>
                                <td>{{ event.venue.name }}</td>
                                <td>
                                    {% match session.user %}
                                        {% when Some with (user) %}
                                        {% if event.owner.id == user.id %}
                                            <span>{{ event.owner.username }} </span>
                                            <span>(Me)</span>
                                        {% else %}
                                            <span>{{ event.owner.username }} </span>
                                        {% endif %}
                                        {% when None %}
                                    {% endmatch %}
                                </td>
                                <td>
                                    <div>
                                        <a href="/manage/events/{{ event.id }}" class="btn btn-primary">Update</a>
                                        <button
                                            hx-delete="/events/{{ event.id }}"
                                            hx-target="#event-table-record-{{ event.id }}"
                                            hx-swap="delete"
                                            hx-confirm="Are you sure you wish to delete this event ({{ event.name }})?"
                                            class="btn text-error"
                                        >
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="text-center text-2xl text-base-content/50">You have currently no events.</div>
        {% endif %}
    </div>
{% endblock %}
