{% extends "views/base/main.html" %}
{% import "partials/title.html" as title %}

{% block title %}
    {% call title::title("Settings - Password Change") %}
{% endblock %}

{% block main_content %}
    {% match session.user %}
        {% when Some with (user) %}
        <div class="py-4">
            <div class="container mx-auto flex flex-col gap-6">
                <div class="flex justify-center">
                    <div class="flex w-full max-w-[500px] flex-col gap-4">
                        <h1>Password Change</h1>
                        <form
                            hx-patch="/settings/password"
                            hx-target="#global-toast"
                            hx-target-error="#global-toast"
                            hx-on:htmx:after-request="showGlobalToast(event, false)"
                            class="flex flex-col gap-4"
                        >
                            <div class="flex flex-col gap-2">
                                <label class="form-control w-full">
                                    <div class="label">
                                        <span class="label-text">Current Password</span>
                                    </div>
                                    <input
                                        id="current-password"
                                        name="current_password"
                                        type="password"
                                        placeholder="********"
                                        class="input input-bordered w-full"
                                    />
                                </label>
                                <label class="form-control w-full">
                                    <div class="label">
                                        <span class="label-text">New Password</span>
                                    </div>
                                    <input
                                        id="new-password"
                                        name="new_password"
                                        type="password"
                                        placeholder="********"
                                        class="input input-bordered w-full"
                                    />
                                </label>
                                <label class="form-control w-full">
                                    <div class="label">
                                        <span class="label-text">Confirm New Password</span>
                                    </div>
                                    <input
                                        id="new-password-confirm"
                                        name="new_password_confirm"
                                        type="password"
                                        placeholder="********"
                                        class="input input-bordered w-full"
                                    />
                                </label>
                            </div>
                            <div class="flex flex-col gap-4">
                                <button class="btn btn-primary">Change Password</button>
                                <a href="" class="btn">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

    {% endmatch %}
{% endblock %}
